form{
    margin: auto;
    width: 50%;
    border: 3px solid rgb(141, 129, 17);
    padding: 10px;
}


div{
    font-size: 20px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 30%;
    
}

.question{
    border: 1px solid rgb(247, 241, 241);
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}


h1{
    color: #A97C27;
    text-align: center;
}

.e{
    color: red;
}

.r{
    color:greenyellow
}